body{
    background:hsl(216, 12%, 8%);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}
svg{
    background:hsla(216, 12%, 54%, 0.24);
    padding: 12px;
    border-radius: 50%;
}
.rating-form{
    background:hsl(213, 19%, 18%);
    width:350px;
    max-width: 85%;
    margin:0 auto;
    padding:1.2em;
    border-radius: 30px;
}

form h3{
    color:hsl(0, 0%, 100%);
    font-size: 1.6rem;
    margin-bottom: 0;
}
form p{
    color:hsl(217, 12%, 63%);
}
.flex-class{
    display:flex;
    appearance: none;
    justify-content: space-between;
}
input[type=radio] {
    display:none;    
}
input[type=submit]{
    background:hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

    margin:1em auto;
    padding:0.8rem;
    border-style: none;
    border-radius:50px;
    flex-grow: 1;
    cursor: pointer;
}
label {
    color:hsl(217, 12%, 63%);
    background:hsla(216, 12%, 54%, 0.24);

    width: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 50%;
    margin:1em 0 ;
}

label:hover,
label:focus{
    color:hsl(0, 0%, 100%);
    background:hsl(25, 97%, 53%);
    cursor:pointer; 
}

input[type="radio"]:checked+label{
    color:hsl(0, 0%, 100%);
    background: hsl(217, 12%, 63%)
}
input[type=submit]:hover{
    background:hsl(0, 0%, 100%);
    color:hsl(25, 97%, 53%);
}